html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.hero {
    min-height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
        url('../img/logo1.png') no-repeat center;
    background-size: 25% auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    max-width: 1100px;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 2.4rem;
    margin-bottom: 50px;
    font-weight: 600;
}

.hero-menu {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: nowrap;
}

.menu-card {
    position: relative;
    width: 260px;
}

.menu-card::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 12px;
}

.menu-btn {
    width: 100%;
    padding: 18px;
    font-size: 1.05rem;
    border-radius: 14px;
    border: none;

    background: rgba(255,255,255,0.14);
    color: white;
    backdrop-filter: blur(6px);

    cursor: pointer;
}

.menu-btn.simple {
    text-decoration: none;
    display: block;
    text-align: center;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;

    background: rgba(0,0,0,0.7);
    border-radius: 12px;
    overflow: hidden;

    display: none;
    z-index: 50;
}

.menu-card:hover .menu-dropdown {
    display: block;
}

.menu-dropdown a {
    display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.menu-dropdown a:hover {
    background: rgba(255,255,255,0.15);
}
