.filtro-box {
    border: 1px solid var(--bs-border-color);
    border-radius: 10px;
    background: var(--bs-body-bg);
    width: 100%;
}

.filtro-header {
    padding: 10px 12px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--title-color);
    width: 100%;
}

.filtro-body {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.filtro-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    color: var(--bs-body-color);
}
